* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

p {
    font-size: 1.1rem;
    font-weight: 500;
}

/* Navbar */
nav {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 8%;
    border-bottom: 1px solid #1F1F1F;
}
.nav-list {
    display: flex;
    list-style: none;
}
.list-items {
    font-size: 1.1rem;
    margin: 0 15px;
    cursor: pointer;
}
.company {
    color: #00FFA7; /* Adding color to first nav list item */
}
.list-items:hover {
    color: #00FFA7;
}
/* Hamburger icon */
.menu-box {
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: none;
}
.menu-box span {
    display: block;
    height: 2px;
    width: 100%;
    margin: 6px auto;
    border-radius: 3px;
    background-color: #ffffff;
    transition: all 0.2s ease-in;
}
/* Utility class 1px */
.active {
    display: block!important;
}
.active-flex {
    display: flex!important;
}
.active .line-1 {
    transform: translateY(8px) rotate(-45deg);
}
.active .line-3 {
    transform: translateY(-8px) rotate(45deg);
}
.active .line-2 {
    opacity: 0;
}

/* Header (Intro section) */
header {
    background-color: #000000;
    color: #ffffff;
    padding: 4% 8%;
}
.intro {
    margin: auto;
    text-align: center;
    width: 75%;
}
.heading {
    font-size: 6.5rem;
    line-height: 7rem;
}
.heading span {     /* gradient color to "chaintech" word */
    background-image: linear-gradient(to right, #FFFF00, #00FFA7);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.intro p {
    padding: 20px 5%;
    word-spacing: 1px;
}
.start-btn {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    font-weight: 600;
    font-size: 1.1rem;
    border: none;
    border-radius: 50px;
    margin: 10px auto;
    cursor: pointer;
}
.right-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #000000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
    transition: all .5s ease-out;
}
.start-btn:hover {
    .right-arrow {
        background-image: linear-gradient(to right, #FFFF00, #00FFA7);
        color: #000000;
    }
}

/* Service section */
.service {
    padding: 3% 8%;
}
.under-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.second-right-arrow {
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    margin-left: 15px;
    width: 40px;
    height: 40px;
    box-shadow: 2px 5px 10px #CECECE;
}
.service-heading {
    font-size: 3rem;
}

/* Service box */
.service-container {
    margin: 3% 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.service-box {
    border: 2px solid black;
    border-radius: 20px;
}
.box-1 {
    background-color: #dfffed;
}
.box-2 {
    background-color: #d9fdff;
}
.box-3 {
    background-color: #ffe6e6;
}
.box-4 {
    background-color: #dfe3fb;
}

/* upper section */
.box-header {
    display: flex;
    align-items: center;
    padding: 4%;
}
.box-header p {
    font-size: 0.95rem;
    margin-left: 10px;
    font-weight: 500;
}
hr {
    border: 1px solid #000000;
}
/* middile section */
.box-middile {
    padding: 0 4%;
    text-align: center;
}
.box-middile h3 {
    font-size: 1.4rem;
    line-height: 25px;
    padding: 25px 0;
}
.box-img {
    margin-bottom: -15px;
    height: 156px;
}
/* Service box Footer section */
.explore-btn {
    background-color: #ffffff;
    padding: 4px 10px;
    font-size: 0.9rem;
    border: 2px solid black;
    margin: 18px;
    margin-left: auto;
    transition: all 0.2s ease-in;
}
.explore-btn-arrow {
    width: 24px;
    height: 24px;
    background-image: linear-gradient(to right, #FFFF00, #00FFA7);
    color: #000000;
}
.explore-btn:hover {
    background-color: #000000;
    color: #ffffff;
}

/* Website Footer */
footer {
    padding: 3% 8%;
    background-color: #000000;
    text-align: center;
}
.footer-hr {
    border: 1px solid #5e5e5e;
    margin: 20px;
}
.copyright {
    color: #98A6AC;
    font-size: 0.9rem;
}


/* Media Queries */

@media (width < 1300px) {
    nav {
        padding: 12px 6%;
    }
    .intro {
        width: 95%;
    }
    .service {
        padding: 6%;
    }
    footer {
        padding: 6%;
    }
}

@media (width < 1170px) {
    .heading {
        font-size: 5rem;
        line-height: 5.5rem;
    }
    /* 3 cloumns of boxes */
    .service-container {
        grid-template-columns: repeat(3, 1fr);
    }     

    /* Paragraph under "Sevrices heading */
    .under-heading p {
        width: 85%;
    }
}

@media (width < 950px) {
    /* 2 cloumns of boxes */
    .service-container {
        grid-template-columns: repeat(2, 1fr);
    }
    
    /* Fixing navbar using Hamburger */
    .nav-list {
        flex-direction: column;
        align-items: end;
        gap: 10px;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: #000000;
        width: 100%;
        padding: 15px 4%;
        border-bottom: 1px solid #1F1F1F;
        display: none;
    }
    .menu-box {
        display: block;
    }

}

@media (width < 780px) {
    nav {
        padding: 12px 6%;
    }
    .logo {
        width: 120px;
    }
    .heading {
        font-size: 3.5rem;
        line-height: 4rem;
    }
    .intro {
        width: 100%;
    }
    .intro p {
        font-size: 15px;
        font-weight: 400;
        padding: 20px 0;
    }
    .service {
        padding: 4%;
    }
    footer {
        padding: 4%;
    }

    /* Service texts */
    .service-heading {
        font-size: 2rem;
    }
    p {
        font-size: 15px;
    }
}

@media (width < 600px) {
    header {
        padding: 8% 4%;
    }
    .heading {
        font-size: 2.5rem;
        line-height: 3rem;
        text-align: left;
    }
    .intro p {
        text-align: left;
    }
    
    /* Service section */
    .service-header {
        text-align: center;
    }
    .under-heading {
        flex-direction: column;
    }
    .icons {
        display: none;
    }
    .service-container {
        padding: 20px 0;
        display: flex;
        overflow: scroll;
    }
    .box-img {
        width: 250px;
        height: 150px;
    }
    footer {
        padding: 8% 4%;
    }
}